
<div class="jumbotron text-center">
	<!--<h1>Real-time note taking eyo</h1>-->
	<style>
	    .firepad {
      		width: 700px;
      		height: 450px;
      		background-color: #222; /* dark orange background */
      		border-radius-bottom: 4px;
    	}
    	.CodeMirror {
    		border-radius: 4px;
    	}
	    a.powered-by-firepad {
	    	display: none;
	    }

  	</style>
  	<button type="button" class="btn btn-default btn-lg" ng-click="login()" ng-show="!authenticated">
  		<span class="glyphicon glyphicon-link"></span> Let's get authenticated
  	</button>
  	<button type="button" class="btn btn-default btn-lg" ng-click="logout()" ng-show="authenticated">
  		<span class="glyphicon glyphicon-link"></span> Let's get un-authenticated
  	</button>

	<div id="usersPad">
	</div>
	
</div>