
<div class='container-fluid' id="contentDiv">
	<!--<h1>Real-time note taking eyo</h1>-->
	<style>
	    .firepad {
          margin-left: auto;
          margin-right: auto;
      		width: 60%;
      		height: 450px;
      		background-color: #d9d9d9;
      		border-radius-bottom: 4px;
    	}
      .firepad-toolbar-wrapper {
        margin-left: 11%;
        
      }
    	.CodeMirror-code {
    		border-radius: 4px;

    	}
	    a.powered-by-firepad {
	    	display: none;
	    }

  </style>
  <button type="button" class="btn btn-default btn-lg" ng-click="login()" ng-show="!authenticated">
    <span class="glyphicon glyphicon-link"></span> Sign in
  </button>
  <button type="button" class="btn btn-default btn-lg" ng-click="logout()" ng-show="authenticated">
    <span class="glyphicon glyphicon-link"></span> Sign out
  </button>	
  <span ng-repeat="note in otherNotes">
    <li ng-click="showNote(note.uid)">{{note.displayName}}</li>
  </span>
  
  <div class="row">

    <div class="col">
      <div class="well">
        <p ng-repeat='message in chatLog'>
          <span class='pull-left text-info'> {{ message.user }}:   </span>
          <span>&nbsp;&nbsp;&nbsp;{{ message.text }} </span>
          <span class='pull-right text-info'> {{ message.time }} </span>
        </p>
      </div>
      <form role='form' novalidate name='form'>
        <div class='form-group'>
          <input type='text'
          required
          ng-max='50'
          ng-model='message'
          focus>
          <button class='btn btn-sm btn-primary'
          ng-enable='form.$valid'
          ng-click='sendMessage(message)'>Send</button>
        </div>
      </form>
    </div>
    <div class="col" id="usersPad"></div>
  </div>
</div>